@-moz-keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@-webkit-keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@-o-keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.main {
  height: 100vh;
  padding-left: 249px;
  box-sizing: border-box;
  position: relative;
}
.cover-container {
  height: 397px;
  background: linear-gradient(180deg, #440045 0%, rgba(0,0,0,0.85) 100%);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.cover {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cover--image {
  width: 348px;
  height: 348px;
  background-color: #f0c;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover--image__without {
  width: 268px;
  height: 268px;
  background-image: url("../icons/cover-whitout-dic.png");
  background-size: cover;
}
.cover--image__with {
  width: 348px;
  height: 348px;
  border-radius: 3px;
}
.cover-data {
  width: 50%;
  height: 348px;
}
.cover-data--item {
  display: flex;
  margin-bottom: 14px;
}
.cover-data--item:last-child {
  margin-bottom: 0;
}
.cover-data--icon {
  width: 20px;
  height: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover-data--icon > img {
  width: 18px;
  height: 18px;
}
.cover-data--value {
  height: 28px;
  line-height: 28px;
  padding-left: 10px;
  color: #e3e3e3;
  font-size: 1.22rem;
  text-align: left;
}
.cover-data__without {
  height: 348px;
  text-align: center;
  line-height: 348px;
  font-size: 2rem;
  color: #e3e3e3;
}
.cover-bg {
  position: absolute;
  top: -15px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.files-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #070607;
  padding: 20px;
  min-height: 369px;
  overflow-y: scroll;
  position: absolute;
  top: 397px;
  bottom: 0;
}
.mini-cover {
  width: 128px;
  height: 188px;
  margin: 4px;
}
.mini-cover--image {
  background-color: #f0c;
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
}
.mini-cover--image__with {
  width: 128px;
  height: 128px;
  border-radius: 3px;
}
.mini-cover--image__without {
  width: 96px;
  height: 96px;
  background-image: url("../icons/cover-whitout-dic.png");
  background-position: center;
  background-size: cover;
}
.mini-cover--tags {
  width: 128px;
  height: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  box-sizing: border-box;
  font-size: 0.75rem;
  text-align: left;
}
.mini-cover--tags > p {
  margin-top: 4px;
  margin-bottom: 4px;
  color: #e3e3e3;
}
.mini-cover--tags > p:last-child {
  color: #5d5d5d;
}
.lateralPanel {
  width: 249px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #252222;
}
.load-container {
  background-color: #440045;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.load-button {
  width: 208px;
  height: 44px;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 44px;
  color: #e3e3e3;
  background-color: #5d5d5d;
  border-radius: 3px;
  box-shadow: 1px 1px 15px #070607;
  cursor: pointer;
}
.sound-player {
  height: 76px;
  background-color: rgba(7,6,7,0.85);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid #5d5d5d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
  box-sizing: border-box;
}
.cover-player {
  background-color: #f0c;
  height: 100%;
  width: 60px;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}
.cover-player__with {
  height: 100%;
  width: 60px;
}
.cover-player__without {
  height: 42px;
  width: 42px;
  background-image: url("../icons/cover-whitout-dic.png");
  background-size: cover;
}
.cover-player--data {
  height: 100%;
  width: 250px;
  margin-right: 20px;
  font-size: 0.7rem;
  padding-top: 4px;
  box-sizing: border-box;
}
.cover-player--data >div {
  text-align: left;
  color: #5d5d5d;
}
.cover-player--data >div:first-child {
  margin-bottom: 4px;
  color: #e3e3e3;
}
.control-player {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.control-player--timer {
  color: #e3e3e3;
  font-size: 1rem;
  text-align: left;
  width: 48px;
}
.control-player--time {
  color: #e3e3e3;
  font-size: 1rem;
  text-align: right;
  width: 48px;
}
.control-player--central {
  width: 100%;
  height: 100%;
}
.control-player--buttons {
  height: 40%;
  display: flex;
  justify-content: center;
}
.control-player--play {
  width: 22px;
  height: 22px;
  background-image: url("../icons/play-button.png");
  background-size: cover;
  border-radius: 3px;
}
.siri-wave {
  background-color: #f0c;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* --- General classes --- */
.spinner-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(68,0,69,0.5);
  z-index: 100;
}
.spinner {
  width: 55px;
  height: 55px;
  background-color: #fff;
  margin: 100px auro;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
  position: relative;
}
.spinner:before {
  content: 'SagIO';
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-visible {
  display: none;
}
