@-moz-keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@-webkit-keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@-o-keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/* --- Variables --- */
.main {
  height: 100vh;
  padding-left: 249px;
  box-sizing: border-box;
}
.cover-container {
  height: 397px;
  background-color: #440045;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.cover {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cover--image {
  width: 348px;
  height: 348px;
  background-color: #f0c;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover--image__without {
  width: 268px;
  height: 268px;
  background-image: url("../icons/cover-whitout-dic.png");
  background-size: cover;
}
.cover-data {
  width: 50%;
  height: 348px;
}
.files-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #070607;
  padding: 20px;
  min-height: 369px;
  height: 369px;
  overflow-y: scroll;
  position: relative;
}
.mini-cover {
  width: 128px;
  height: 188px;
  margin: 4px;
}
.mini-cover--image {
  background-color: #f0c;
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
}
.mini-cover--image__with {
  width: 128px;
  height: 128px;
  border-radius: 3px;
}
.mini-cover--image__without {
  width: 96px;
  height: 96px;
  background-image: url("../icons/cover-whitout-dic.png");
  background-position: center;
  background-size: cover;
}
.mini-cover--tags {
  width: 128px;
  height: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  box-sizing: border-box;
  font-size: 0.75rem;
  text-align: left;
}
.mini-cover--tags > p {
  margin-top: 4px;
  margin-bottom: 4px;
  color: #e3e3e3;
}
.mini-cover--tags > p:last-child {
  color: #5d5d5d;
}
.lateralPanel {
  width: 249px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #252222;
}
/* --- General classes --- */
.spinner-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(68,0,69,0.5);
}
.spinner {
  width: 55px;
  height: 55px;
  background-color: #fff;
  margin: 100px auro;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
  position: relative;
}
.spinner:before {
  content: 'SagIO';
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-visible {
  display: none;
}
