/* --- Variables --- */
$lateralPanelWidth = 249px
$minicoverSize = 128px
$generalPadding = 20px
$colorWhite = #e3e3e3
$colorGrey = #5d5d5d
$colorPink = #ff00cc
$colorWine = #440045
$colorBG = #070607