@import './config'
@import './spinner'
@import './cover'
@import './mini-cover'
@import './sound-player'

.main
  height: 100vh
  padding-left: $lateralPanelWidth
  box-sizing: border-box

.cover-container
  height: 397px
  background: linear-gradient(180deg, rgba(68,0,69,1) 0%, rgba(0,0,0,0.85) 100%);
  padding: $generalPadding
  box-sizing: border-box
  display: flex
  align-items: center
  flex-wrap: wrap
  position: relative

.cover
  cover()

.cover-data
  cover-data()

.cover-bg
  cover-bg()


.files-container
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  box-sizing: border-box
  background-color: $colorBG
  padding: $generalPadding
  min-height: 369px
  height: 369px
  overflow-y: scroll
  position: relative

.mini-cover
  mini-cover()

.lateralPanel
  width: $lateralPanelWidth
  height: 100vh
  position: absolute
  top: 0
  left: 0
  bottom: 0
  background-color: #252222

.load-container
  background-color: $colorWine
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  display: flex
  justify-content: center
  align-items: center

.load-button
  width: 208px
  height: 44px
  font-size: 1.5rem
  font-weight: bold
  line-height: 44px
  color: $colorWhite
  background-color: $colorGrey
  border-radius: 3px
  box-shadow: 1px 1px 15px $colorBG
  cursor: pointer

.sound-player
  sound-player()

.cover-player
  cover-player()

.controls-player
  controls-player()

/* --- General classes --- */
.spinner-container
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  display: flex
  justify-content: center
  align-items: center
  background-color: rgba(68, 0, 69, 0.5)
  z-index: 100

.spinner
  spinner()

.not-visible
  display: none