@import './spinner'

.files-container
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.list-item
  width: !important 100%
  border-top: 1px solid #ff00cc
  margin: 8px

  &--image
    width: 128px
    height: 128px

.spinner-container
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  display: flex
  justify-content: center
  align-items: center
.spinner
  spinner()