$playerHeight = 76px
$coverWidth = ($playerHeight - 16px)
sound-player()
  height: 76px
  background-color: rgba(7, 6, 7, 0.85);
  position: absolute
  right: 0
  bottom: 0
  left: 0
  border-top: 1px solid $colorGrey
  display: flex
  align-items: center
  justify-content: space-between
  padding-top: 8px
  padding-right: 20px
  padding-bottom: 8px
  padding-left: 20px
  box-sizing: border-box

cover-player()
  background-color: $colorPink
  height: 100%
  width: $coverWidth
  min-width: $coverWidth
  display: flex
  justify-content: center
  align-items: center
  margin-right: 12px

  &__with
    height: 100%
    width: $coverWidth
  
  &__without
    height: 42px
    width: 42px
    background-image: url('../icons/cover-whitout-dic.png')
    background-size: cover

  &--data
    height: 100%
    width: 250px
    margin-right: 20px
    font-size: 0.7rem
    padding-top: 4px
    box-sizing: border-box

    >div
      text-align: left
      color: $colorGrey

      &:first-child
        margin-bottom: 4px
        color: $colorWhite
  
control-player()
  height: 100%
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center

  &--timer
    color: $colorWhite
    font-size: 1rem
    text-align: left
    width: 48px

  &--time 
    color: $colorWhite
    font-size: 1rem
    text-align: right 
    width: 48px

  &--central
    width: 100%
    height: 100%
  
  &--buttons
    height: 40%
    display: flex
    justify-content: center

  &--play
    width: 22px
    height: 22px
    background-image: url('../icons/play-button.png')
    background-size: cover
    border-radius: 3px


siri-wave()
  background-color: $colorPink
  width: 100%
  height: 60%
  display: flex
  align-items: center
  justify-content: center


