// variables
$white = #f8f8f8
$raisinBlack = #262322
$gargoyleGas = #fde74c
$androidGreen = #9bc53d
$flame = #e55934
$princetonOrange = #fa7921

html
body
h1
  margin: 0
body
  font-family: 'Lato', sans-serif

.wrapper-container
  max-width: 100vw
  min-height: 100vh

.wrapper
  width: 100%
  min-height: 100vh
  padding: 10px
  box-sizing: border-box
  background: $raisinBlack



// initial screen
.initial-screen
  display: flex
  align-items: center
  justify-content: center



// files screen
.files-screen
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap



// geric classes
.full__screen
  width: 100%
  height 100%

.not__visible
  display: none

.icon-button
  height: 24px
  width: fit-content
  display: flex
  flex-wrap: nowrap
  >span
    display: inline-block
    width: 22px
    height 22px
    background-image: url('../../icons/folder.png')
    background-size: contain
    margin-right: 4px
  >div
    margin-left: 4px
    color: $androidGreen

.track-container
.folder-container
  width: 160px
  height: 210px
  //background: green
  padding: 8px
  box-sizing: border-box
  margin: 8px

.disc--cover
  width: 100%
  height: 160px - 16px
  background: $flame
  border-radius: 4px
  margin-bottom: 2px
  display: flex
  justify-content: center
  align-items: center
  &__icon
    width: 130px
    height: 130px
    background-image: url('../../icons/compact-disc.png')
    background-size: contain
  &-tag
    color: $white
    font-size: 0.85rem
    padding: 2px 0px 2px 0px
    box-sizing: border-box

.folder--icon
  width: 100%
  height: 160px - 16px
  background-image: url('../../icons/folderl.png')
  background-size: contain
  margin-bottom: 2px
  &-tag
    color: $white
    font-size: 0.85rem
    padding: 2px 0px 2px 0px
    box-sizing: border-box
