// variables
$white = #f8f8f8
$raisinBlack = #262322
$gargoyleGas = #fde74c
$androidGreen = #9bc53d
$flame = #e55934
$princetonOrange = #fa7921

html
body
h1
  margin: 0
body
  font-family: 'Lato', sans-serif

.wrapper-container
  width: 100vw
  height: 100vh

.wrapper
  width: 100vw
  height: 100vh
  padding: 10px
  box-sizing: border-box
  background: $raisinBlack

// initial screen
.initial-screen
  width: 100%
  height 100%
  display: flex
  align-items: center
  justify-content: center

// geric classes
.icon-button
  height: 24px
  width: fit-content
  display: flex
  flex-wrap: nowrap
  >span
    display: inline-block
    width: 22px
    height 22px
    background-image: url('../../icons/folder.png')
    background-size: contain
    margin-right: 4px
  >div
    margin-left: 4px
    color: $androidGreen